/* from other css */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body.is-preload *,
body.is-preload *:before,
body.is-preload *:after {
    -moz-animation: none !important;
    -webkit-animation: none !important;
    -ms-animation: none !important;
    animation: none !important;
    -moz-transition: none !important;
    -webkit-transition: none !important;
    -ms-transition: none !important;
    transition: none !important;
}

.a {
    text-decoration-color: #222;
    text-decoration-line: none;
}

.aboutme {
    display: flex;
    flex-direction: column;
    height: 15vw;
    padding: 2vw 3vw 4vw 3vw;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    align-self: stretch;
    background: #3b3b3b;
    gap: 1vw;
}

.aboutmetext {
    color: #FFF;
    justify-content: center;
    align-content: center;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 2vw;
    font-style: normal;
    font-weight: 400;
    line-height: auto;
    text-wrap: pretty;
    width: auto;
}

.aboutmetitle {
    color: #FFF;
    text-align: center;
    /* text-5xl/font-bold */
    font-family: 'Open Sans', sans-serif;
    font-size: 2vw;
    font-style: normal;
    font-weight: 700;
    line-height: auto;
    ;
    /* 4.5vw */
}

.bodylayout {
    display: flex;
    width: auto;
    height: auto;
    /* Auto height to accommodate content */
    flex-direction: column;
    align-items: center;
    background: #f7fff7;
    overflow-x: none;
    overflow-y: scroll;
    scroll-behavior: smooth !important;
}

.blog {
    display: flex;
    height: auto;
    padding: 0.8125vw 9.25vw 4.1875vw 6.5625vw;
    flex-direction: column;
    align-items: center;
    gap: 2vw;
    flex-shrink: 0;
    align-self: stretch;
    border: 2px solid #344E41;
    background: #222;
    overflow-x: none;
}

.blogbody {
    overflow-x: none;
    border-radius: 0.5vw;
    display: flex;
    width: auto;
    padding: 1vw;
    flex-direction: column;
    align-items: center;
    gap: 0vw;
    flex-wrap: wrap;
    background-color: #f7fff7;
    text-wrap: pretty;
}

.bloggrid {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    gap: 1vw;
    flex-direction: row;
    overflow-x: none;
}

.blogheader {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1vw;
    justify-content: center;
}

.blogitem {
    width: 18.75vw;
    height: 18.75vw;
    display: flex;
    border-radius: 0.25vw;
    background-color: #f7fff7;
    flex-direction: column;
    align-items: center;
}

.blogitem:hover {
    background-color: #cffbcf;
}

.blogleft {
    flex-direction: column;
    align-items: flex-end;
}

.blogpic {
    width: 17.75vw;
    padding: 1vw;
    max-height: 10.75vw;
    object-fit: fill;
}

.blogpicblog {
    height: "auto";
    width: 40vw;
    object-fit: contain;
}

.blogpicblogmini {
    height: 20vw;
    width: auto;
    object-fit: contain;
}

.blogtext {
    color: #000;
    font-family: 'Open Sans', sans-serif;
    font-size: 1vw;
    text-align: left;
    font-style: normal;
    font-weight: 400;
    line-height: 1vw;
    /* 3vw */
}

.blogtitle {
    color: #222;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.25vw;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5vw;
    justify-self: baseline;
    /* 4.5vw */
}

.blogtype {
    color: #000;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2vw;
    font-style: normal;
    font-weight: 400;
    line-height: auto;
    ;
}

.blogtypestrong {
    color: #000;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5vw;
    font-style: normal;
    font-weight: 700;
    line-height: auto;
    ;
    /* 3vw */

}

.blogwhole {
    object-fit: contain;
    display: flex;
    width: auto;
    ;
    padding: 2vw;
    gap: 2vw;
    flex-direction: column;
    align-items: center;
    gap: 3vw;
    background-color: #588157;
}

.bodylayout {
    display: flex;
    width: auto;
    height: auto;
    /* Auto height to accommodate content */
    flex-direction: column;
    align-items: center;
    background: #f7fff7;
    overflow-x: none;
    overflow-y: scroll;
    scroll-behavior: smooth !important;
}

.breakline {
    width: auto;
    ;
    height: 2vw;
    fill: #EBE8DD;
}

.button {
    display: flex;
    color: var(--White, #FFF);
    font-family: 'Open Sans', sans-serif;
    font-size: 1vw;
    font-style: normal;
    font-weight: 700;
    line-height: 1vw;
    padding: 0.75vw 1.5vw;
    justify-content: center;
    align-items: center;
    gap: 0.625vw;
    background: var(--Dark, #3b3b3b);
    border-radius: 0.5vw;
    color: var(--White, #FFF);
    box-shadow: #2222225b;
}

.carlypic {
    width: 10vw;
    height: auto;
    position: absolute;
    right: -0.0165vw;
    bottom: -0.27638vw;
}

.circle {
    width: 8vw;
    height: auto;
    margin-top: -1vw;
}


.dnimg {
    height: 15vw;
    object-fit: cover;
    width: auto;
}

.h1 {
    color: #588157;
    /* text-5xl/font-bold */
    font-family: 'Open Sans', sans-serif;
    font-size: 3vw;
    font-style: normal;
    font-weight: 700;
    line-height: auto;
    ;
    /* 4.5vw */
}

.h1Accent {
    color: #222;
    /* text-5xl/font-bold */
    font-family: 'Open Sans', sans-serif;
    font-size: 3vw;
    font-style: normal;
    font-weight: 700;
    line-height: auto;
    ;
}

.h3 {
    color: #FFF;
    text-align: center;
    justify-content: center;
    align-content: center;
    align-self: stretch;
    /* text-5xl/font-bold */
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-size: 1.25vw;
    font-weight: 600;
    line-height: .8vw;
    /* 4.5vw */
}

.initialframes {
    width: auto;
    height: 28vw;
    object-fit: contain;
}

.intro {
    display: flex;
    padding-left: 11%;
    padding-right: 11%;
    align-items: center;
    justify-content: space-between;
    gap: auto;
    align-self: stretch;
}

.introcontent {
    display: flex;
    width: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* gap: 2vw; */
}

.nav {
    display: flex;
    padding-bottom: 1.5vw;
    padding-top: 1.5vw;
    /* Use percentages for padding */
    justify-content: space-evenly;
    align-items: center;
    align-self: stretch;
    overflow-x: none;
    position: sticky;
    top: 0vw;
    background: #f7fff7;
    border-bottom-color: #58815789;
    border-bottom-width: 0.01vw;
    border-bottom-style: solid;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2);
}

.navgroup {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 4vw;
}

.navid {
    color: #222;
    /* text-3xl/font-semibold */
    font-family: 'Open Sans', sans-serif;
    font-size: 2vw;
    font-style: normal;
    font-weight: 600;
    line-height: 1vw;
    /* 2.8125vw */
    color: #588157;
    /* text-3xl/font-semibold */
    text-decoration: none;
}

.navitem {
    color: var(--Dark, #1F1F1F);
    font-family: 'Open Sans', sans-serif;
    font-size: 1.125vw;
    font-style: normal;
    font-weight: 700;
    line-height: 1.3vw;
    /* 1.4625vw */
}

.p {
    color: var(--Dark, #1F1F1F);
    font-family: 'Open Sans', sans-serif;
    flex-wrap: wrap;
    font-size: 1.25vw;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5vw;
    /* 1.875vw */
    align-self: stretch;
}

.portfolio {
    display: flex;
    width: auto;
    padding: 2vw 9.25vw 4.1875vw 6.5625vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    gap: 2vw;
    background: #f7fff7;
    height: fit-content;
}

.portfolioimage {
    padding: 0vw;
    padding-top: 0vw;
    border-radius: .5vw;
    width: 12vw;
    height: auto;
}

.portfolioitem {
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.0625vw;
    border: 0.5px solid #344e4151;
    width: 15vw;
    background: #222;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 0.4vw;
}

.portfolioitem:hover {
    background-color: #344E41;
}

.portfoliorow {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3vw;
    align-self: stretch;
    flex-direction: row;
}

.portfoliotitle {
    color: #588157;
    text-align: center;
    align-self: stretch;
    /* text-5xl/font-bold */
    font-family: 'Open Sans', sans-serif;
    font-size: 4vw;
    font-style: normal;
    font-weight: 700;
    line-height: .8vw;
    /* 72px */
}

.underconstruction {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.0625vw;
    border: 0.5px solid #344e4151;
    width: 15vw;
    background: #222;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    box-shadow: inset;
    border-radius: 0.4vw;
}

.underconstruction:hover {
    background-color: rgb(229, 69, 69)
}

.underconstructiontext {
    color: #f7fff7;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 1vw;
    font-style: normal;
    font-weight: 200;
    line-height: 1vw;
    text-wrap: "pretty";
    margin: 0vw
        /* 4.5vw */
}

.youarehere {
    width: 18.75vw;
    height: 18.75vw;
    display: flex;
    border-radius: 0.25vw;
    background-color: #588157;
    flex-direction: column;
    align-items: center;
}

.youareheretitle {
    color: #f7fff7;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.25vw;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5vw;
    justify-self: baseline;
}